body 
{
	background-image: url("../../design-ressources/greyzz.png");
	/*background-color:white;*/
	margin:0;
}

img 
{
   border: none;
}

@font-face {
	font-family : "grandl";
	src: url('../../design-ressources/font/grandezzalight.ttf');
}

@font-face {
	font-family : "grandm";
	src: url('../../design-ressources/font/grandezzamedium.ttf');
}

@font-face {
	font-family : "grandh";
	src: url('../../design-ressources/font/grandezzabold.ttf');
}

@font-face {
	font-family : "walkwayUESB";
	src: url('../../design-ressources/font/walkwayUESB.ttf');
}

h1
{
	color: gray;
}

p
{
	color: rgb(51,51,51);
   font-family: Arial;
}

a 
{
	text-decoration: none;
	color: rgb(150,150,150);
	outline:none;
}

a:hover 
{
	color:rgb(255,62,255);
}

#corps
{
	width: 65%;
	margin-top: 70px;
	margin-left: 28%;
	min-height: 100%;
	clear: none;
}

.imgFade
{
	margin-right : 5%;
	margin-bottom: 5%;
	vertical-align:bottom;
}

/*------------Back---------------*/

#back
{
	 background-image: url('../design-ressources/back.png');
     position:absolute;
     left: 20px;
     top: 250px;
	 width:128px;
	height:60px;
}

#back:hover
{
	 background-image: url('../design-ressources/backhover.png');
}

/*-----------FIN Back------------*/


/*-------------MENU--------------*/
#top
{
	width: 100%;
	border-bottom: 2px solid gray;
	height: 100px;
}

#menu
{
	position:absolute;
	left:50%;
	margin-top: 50px;
	width: 550px;
	margin-left:-275px;
	}

#menu li
{
	margin-bottom: 1%;
	margin-right:2%;
	display:inline;
}


.currentmenu
{
	color: rgb(205,126,51);
	font-family: "grandl", Arial;
	font-size:1.3em;
}

.normalmenu
{
	color: rgb(51,51,51);
	font-family: "grandl", Arial;
	font-size:1.3em;

}

.normalmenu:hover
{
	color: rgb(205,126,51);
}

/*-------------FIN MENU----------*/



#entete
{
 position:absolute;
   left:50%;
   margin-left: -205px;
	width:450px;
	margin-top:-60px;
}   

#entete p
{
	font-family : "walkwayUESB";
	font-size: 3.5em;
}

/*---------Selects articles---------*/
#selectBoxes {
	float: left;
	max-width:25%;
	min-width:20%;
	border: 2px solid gray;
	    border-radius:50px; 
	    margin-left: 1%; 
	    margin-top: 5%;

}
#selectBoxes input {
	background-image: url("../../design-ressources/greyzz.png");
	border: 1px solid gray;
    border-radius:30px;  
	width: 100%;
	color: gray;
	height: 20px;
}

#selectBoxes input:hover {
	color: rgb(205,126,51);
} 

#selectBoxes li {
	list-style: none;
	margin-bottom : 10px;
}


#selectBoxes p {
	color: gray;
	font-size: 0.85em;
	font-family: "grandm", Arial;
	margin-left: 40px; 
	margin-bottom: -5px;
}

#newsTitles{
	margin-left: -30px;
}
#box1{
	float:left;
}
#box2{
	float:left;
}
