html {
  height: 100%;
}

body 
{
	background-image: url("../../design-ressources/greyzz.png");
	/*background-color:white;*/
	height: 100%;
  	margin: 0;
}

img 
{
   border: none;
}

@font-face {
	font-family : "grandl";
	src: url('../../design-ressources/font/grandezzalight.ttf');
}

@font-face {
	font-family : "grandm";
	src: url('../../design-ressources/font/grandezzamedium.ttf');
}

@font-face {
	font-family : "grandh";
	src: url('../../design-ressources/font/grandezzabold.ttf');
}

@font-face {
	font-family : "walkwayUESB";
	src: url('../../design-ressources/font/walkwayUESB.ttf');
}

::-webkit-scrollbar {
    width: 12px;

}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

h1
{
	color: gray;
}

p
{
	color: rgb(51,51,51);
	font-family: Arial;
}

a 
{
	text-decoration: none;
	color: rgb(150,150,150);
	outline:none;
}

a:hover 
{
	color:rgb(255,62,255);
}

#corpsFolio
{
	width: 50%;
	margin-top: 5%;
	margin-left: 25%;
	height: 100%;
	padding: 20px;
	clear: none;
}

#corps
{
	width: 50%;
	position:absolute;
	top: 125px;
	bottom: 25px;

	margin-left: 25%;
	padding: 20px;
	overflow-y:auto;
	clear: none;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid rgba(255,255,255,0);
    border-radius:20px;  
	-moz-box-shadow: inset 0px 0px 5px 0.3px #656565;
	-webkit-box-shadow: inset 0px 0px 5px 0.3px #656565;
	-o-box-shadow: inset 0px 0px 5px 0.3px #656565;
	box-shadow: inset 0px 0px 5px 0.3px #656565;
	/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);*/
}

.imgFade
{
	margin-right : 5%;
	margin-bottom: 5%;
	vertical-align:bottom;
}

/*------------Back---------------*/

#back
{
	 background-image: url('../design-ressources/back.png');
     position:absolute;
     left: 20px;
     top: 250px;
	 width:128px;
	height:60px;
}

#back:hover
{
	 background-image: url('../design-ressources/backhover.png');
}

/*-----------FIN Back------------*/

#overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: black; opacity: 0; z-index: 1;}

#overlayDone { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: black; opacity: 0.9; z-index: 1;}


/*-------------MENU--------------*/
#top
{
	width: 100%;
	display:block;
	background-image: url("../../design-ressources/greyzz.png");
	position: relative;
	z-index:3;
	border-bottom: 1px solid gray;
	height: 100px;
	padding:0;
	-moz-box-shadow: 0px 1px 5px 0px #656565;
	-webkit-box-shadow: 0px 1px 5px 0px #656565;
	-o-box-shadow: 0px 1px 5px 0px #656565;
	box-shadow: 0px 1px 5px 0px #656565;
/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);*/
}

#centered {
	width:550px;
	margin-left:auto;
	margin-right:auto;
}

#menu
{
 	width: auto;
	margin-left:32px;
	margin-top: -50px;
	}

.liMenu
{
	margin-bottom: 1%;
	margin-right:2%;
}


#menu li {
		display:inline;

}

.currentmenu
{
	color: rgb(205,126,51);
	font-family: "grandl", Arial;
	font-size:1.3em;
}

.normalmenu
{
	color: rgb(51,51,51);
	font-family: "grandl", Arial;
	font-size:1.3em;

}

.normalmenu:hover
{
	color: rgb(205,126,51);
}

/*-------------FIN MENU----------*/



#entete
{

 	position: relative; /* on positionne le conteneur */
	width:auto;
	margin-top:-60px;
	
}   

#entete p
{
	font-family : "walkwayUESB";
	font-size: 3.5em;
	  text-align: center;

}

/*---------Selects articles---------*/
#selectBoxes {
	float: left;
	max-width:25%;
	min-width:20%;
	border: 2px solid gray;
	    border-radius:50px; 
	    margin-left: 1%; 
	    margin-top: 5%;

}
#selectBoxes input {
	background-image: url("../../design-ressources/greyzz.png");
	border: 1px solid gray;
    border-radius:30px;  
	width: 100%;
	color: gray;
	height: 20px;
}

#selectBoxes input:hover {
	color: rgb(205,126,51);
} 

#selectBoxes li {
	list-style: none;
	margin-bottom : 10px;
}


#selectBoxes p {
	color: gray;
	font-size: 0.85em;
	font-family: "grandm", Arial;
	margin-left: 40px; 
	margin-bottom: -5px;
}

#newsTitles{
	margin-left: -30px;
}
#box1{
	float:left;
}
#box2{
	float:left;
}
