body 
{
	background-image: url("../design-ressources/background.jpg");
	height: 100%;
}

img 
{
   border: none;
}

@font-face {
	font-family : "grandl";
	src: url('../../design-ressources/font/grandezzalight.ttf');
}

@font-face {
	font-family : "grandm";
	src: url('../../design-ressources/font/grandezzamedium.ttf');
}

@font-face {
	font-family : "grandh";
	src: url('../../design-ressources/font/grandezzabold.ttf');
}

h1
{
	color: gray;
}

p
{
   color: gray;
   font-family: Arial;
}

a 
{
	text-decoration: none;
	color: grey;
	outline:none;
}

a:hover 
{
	color:rgb(255,62,255);
}

#corps
{
	width: 65%;
	margin-top: 70px;
	margin-left: 28%;
	min-height: 100%;
	clear: none;
}

.imgFade
{
	margin-right : 5%;
	margin-bottom: 5%;
	vertical-align:bottom;
}

#back
{
	 background-image: url('../design-ressources/back.png');
     position:absolute;
     left: 20px;
     top: 250px;
	 width:128px;
	height:60px;
}

#back:hover
{
	 background-image: url('../design-ressources/backhover.png');
}

/*-------------MENU--------------*/
#menu 
{
	width: 25%;
	float: left;
	/*min-height:100%;*/
}

div#menu li
{
	list-style-image:url("../design-ressources/BOUTON_OFF.png");
	margin-bottom: 1%;
}

div#menu li:hover
{
	list-style-image:url("../design-ressources/BOUTON_ON.png");
}

.currentmenu
{
	color: rgb(240,0,240);
	font-family: "grandm", Arial;
	font-size:0.9em;
}

.normalmenu
{
	color: rgb(51,51,51);
	font-family: "grandl", Arial;
	font-size:0.9em;
}

/*-------------FIN MENU----------*/

/*-------------GoToOther---------*/
#home
{
	width:143px;
	height:34px;
	background-image: url('../design-ressources/gotoother.png');
	position:absolute;
	margin-top:150px;
	margin-left:10px;
}

#home:hover
{
	background-image: url('../design-ressources/gotohover.png');
}

/*----------Fin GoToOther--------*/

#welcomebox {
	height: 57px;
	width: 331px;
	position:absolute;
	left:50%;
	bottom: 50%;
	margin-left:-165px;
	margin-bottom:-28px;
	}

#linkInstallations {
	background-image: url("../design-ressources/Installations_off.png");
	height:35px;
	width:124px;
	float:left;
	z-index:-1;
	margin-bottom:3px;
}

#linkInstallations:hover{
	background-image: url("../design-ressources/Installations_on.png");
	height:35px;
	width:124px;
}

#linkDessins {
	background-image: url("../design-ressources/Dessins_off.png");
	height:35px;
	width:124px;
	float:right;
	z-index:-1;
	margin-bottom: 3px;
}

#linkDessins:hover{
	background-image: url("../design-ressources/Dessins_on.png");
	height:35px;
	width:124px;
}

#entete
{
background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(75%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

   margin-top: -20px;
   margin-left: -10px;
   margin-bottom: 50px;
   height: 60px;
}   

#entete img
{
	margin-left: 5px;
   margin-top: -5px;
	}




